@model IEnumerable<CRUD_testing.Models.Songs>
@{
    ViewData["Title"] = "Songs";
}

<div class="row">
    @foreach (Songs item in Model)
    {
        <a class="card-href" asp-controller="Home" asp-action="Details" asp-route-id="@item.ID">
            <div class="col-sm-3" style="margin-top: 10px;">
                <div class="card">
                    <img class="card-img-top" src="~/Image/@item.imageName" height="250px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title songs-page">@item.songName</h5>
                        <p class="card-text songs-pagep" style="font-size: 13px">@item.songArtist</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ID"></a>
                    </div>
                </div>
            </div>
        </a>
    }

</div>