@model CRUD_testing.Models.Songs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Songs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="songName" class="control-label"></label>
                <input asp-for="songName" class="form-control" />
                <span asp-validation-for="songName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="songAlbum" class="control-label"></label>
                <input asp-for="songAlbum" class="form-control" />
                <span asp-validation-for="songAlbum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="songArtist" class="control-label"></label>
                <input asp-for="songArtist" class="form-control" />
                <span asp-validation-for="songArtist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="songImage" class="control-label"></label>
                <input asp-for="songImage" accept="image/*" />
                <span asp-validation-for="songImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
